
@import "bootstrap-sprockets";
@import "bootstrap";
@import "star-rating.min";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

.info-text-footer {
  padding-top: 20px;
  color: white;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: black;
}
td.buttons{
  width: 350px;
}
td.price{
  width: 80px;
}