.panel.panel-default
  .panel-heading
  .panel-body
    = link_to 'List Users', admin_users_path,  class: "btn btn-primary"
    = link_to 'List Restaurants', admin_restaurnats_path,  class: "btn btn-primary"
    = link_to 'List Restaurants', admin_products_path,  class: "btn btn-primary"
  .panel-footer
